/*Import Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Sniglet:wght@400;800&display=swap');

*Asterisk wildcard selector will remove any automatic browser styling*/ * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Generic Styles*/

body, html {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*General text styles*/
    color: #ffffff;
    font-family: 'Sniglet', sans-serif;
    font-size: 1.8rem;
    /*Background image styles*/
    background-image: url('../images/background-image.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h2,
h3 {
    font-weight: 800;
    font-size: 2rem;
    color: #060606;
}


/*Styling for buttons*/
button {
background-color: #e96854;
color: #ffffff;
border: none;
padding: 10px 20px;
margin: 10px;
border-radius: 10px;
cursor: pointer;
font-size: 1rem;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
transition: background-color 0.3s,
box-shadow 0.3s,
transform 0.2s;
}

button:hover, button:active {
    background-color: #d0574b;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
}

button:active {
    transform: translateY(2px);
}

/*Styling for header and logo*/
.logo img {
    max-width: 200px;
    height: auto;
    transition: transform 0.7s ease-in-out;
}

#game-selection img {
    max-width: 250px;
}