/*Import Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Sniglet:wght@400;800&display=swap');

*Asterisk wildcard selector will remove any automatic browser styling*/ * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Generic Styles*/

body,
html {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*General text styles*/
    color: #060606;
    font-family: 'Sniglet', sans-serif;
    font-size: 1.8rem;
    /*Background image styles*/
    background-image: url('../images/background-image.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*Header Styles*/

header {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 1;
    position: relative;
}

.logo-container {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    transition: all 0.3s ease;
}

.logo-container img {
    max-width: 100%; 
    height: auto; 
    transition: all 0.3s ease;
}

/*Quiz Game Styles*/
.game-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 100%;
    min-height: 40vh;
    margin-top: 20px;
    max-width: 100%;
    overflow-x: hidden;
    z-index: 2;
    position: relative;
}

#game-selection {
    width: 100%;
}

/*Font Styles*/
h2 {
    font-weight: 800;
    font-size: 5vw;
    width: 60%;
    margin: 0 auto;
    line-height: 1.4;
}

h3 {
    font-weight: 800;
    font-size: 6vw;
    width: 60%;
    margin: 0 auto;
    line-height: 1.4;
}


/*Styling for buttons*/
button {
    background-color: #e96854;
    color: #ffffff;
    border: none;
    padding: 3% 8%;
    margin: 5% 2%;
    border-radius: 10px;
    cursor: pointer;
    font-size: 4vw;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;

}

button:hover,
button:active,
button:focus {
    background-color: #d0574b;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
    outline: none;
}

/*Styling for question area*/

#quiz-container {
    text-align: center;
    margin: 20px auto;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    font-size: 1.5rem;
    
}

.score-count p {
    font-size: 1.2rem;
}

/*Styling for timer*/

#timer {
    color: #38b6ff;
    font-size: 2rem;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    display: inline-block;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

#time {
    font-weight: bold;
}

#timer.urgent {
    color: #b21124;
    animation: blink 1s step-start 0s infinite;
}


/* Media query for tablets and screens above 768px wide */
@media (min-width: 768px) {
    header img {
        max-width: 60%;
    }
}

/* Media query for desktops and screens above 996px wide */
@media (min-width: 996px) {
    header img {
        max-width: 70%;
    }

    .game-container {
        min-height: 30vh;
        margin-top: 5vh;
    }
}